@model List<Enfermo>

<h1 style="color:red">Eliminar enfermos</h1>

<form method="post">
    <label>Introduzca inscripción: </label>
    <input type="text" name="inscripcion"
           class="form-control"/>
    <button type="submit" class="btn btn-danger">
        Eliminar enfermo
    </button>
</form>
<hr/>
<table class="table table-dark">
    <thead>
        <tr>
            <th>INSCRIPCION</th>
            <th>APELLIDO</th>
            <th>DIRECCION</th>
            <th>FECHA NACIMIENTO</th>
            <th>NSS</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
            {
                foreach (Enfermo enfermo in Model)
                {
                    <tr>
                        <td>@enfermo.Inscripcion</td>
                        <td>@enfermo.Apellido</td>
                        <td>@enfermo.Direccion</td>
                        <td>@enfermo.FechaNacimiento.ToShortDateString()</td>
                        <td>@enfermo.Nss</td>
                    </tr>
                }
            }
    </tbody>
</table>